.img_container{
    background-image: url("https://picsum.photos/200");
    background-size: 300px;
    height: 300px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1, nav, time{
    display: flex;
    align-items: center;
    justify-content: center;
}

